{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }} :: {{ metier.nom }}
{% endblock %}

{% block body %}
	<h1 class="text-3xl font-bold mb-4 text-gray-800">Métier :
		{{ metier.nom }}
	</h1>
	<section class="mb-6">
		<h2 class="text-2xl font-semibold">Description</h2>
		<p class="mt-2 text-gray-700">{{ metier.description|default('Aucune description disponible.') }}</p>
	</section>

	<section class="mb-6 flex items-center gap-2">
		<h2 class="text-2xl font-semibold">Domaine</h2>
		<a href="{{ path('domaine_show', {'id': metier.domaine.id}) }}" class="inline-block mt-1 px-2 py-1 bg-sky-100 text-sky-800 rounded hover:bg-sky-200 transition">
			{{ metier.domaine.nom }}
		</a>
	</section>

	<section class="mb-10">
		<h2 class="text-2xl font-semibold mb-4">Critères associés</h2>
		{% if metier.criteres|length > 0 %}
			<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
				{% for cm in metier.criteres %}
					{% set card_params = {
                        link: path('critere_show', {'id': cm.id}),
                        icon: 'fas fa-list',
                        title: cm.nom,
                        description: cm.description|default(''),
                        badges: [
                            {'name':'Métier', 'count': cm.metiers|length},
                        ],
                        color: '#297a80',
                    } %}
					{% include '_includes/_card.html.twig' with card_params %}
				{% endfor %}
			</div>
		{% else %}
			<p class="text-gray-500">Aucun critère disponible.</p>
		{% endif %}
	</section>
{% endblock %}
