{# Card moderne avec gradient dynamique et détails #}

<a href="{{ link }}"
    class="group flex flex-col justify-between border rounded-md shadow-sm shadow-gray-300 transition-all duration-300 hover:shadow-lg hover:shadow-gray-400"
    style="border-color: {{ color }}66;
            color: {{ color }};
            background: linear-gradient(160deg, {{ color }}22 0%, {{ color }}08 100%);">

    <div class="pt-3 pb-2 px-4 flex flex-col flex-grow justify-between">
        {# Titre #}
        <h3 class="text-2xl font-bold mb-2">{{ title }}</h3>

        {# Description optionnelle #}
        {% if description %}
            <p class="text-gray-600 text-sm">{{ description }}</p>
        {% endif %}

        {# Détails dynamiques #}
        {% if details is defined and details is not empty %}
            <div class="flex justify-between gap-4">
            {% for detail in details %}
                <div class="inline-block mt-3">
                    <span class="font-semibold" style="color: {{ color }};">{{ detail.key }}:</span>
                    {% if detail.value is iterable %}
                        <span class="text-gray-600 text-sm">
                            {{ detail.value|map(item => item.nom)|join(', ') }}
                        </span>
                    {% else %}
                        <span class="font-semibold text-gray-600 text-md">{{ detail.value }}</span>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {# Barre animée en bas #}
    <span class="h-[3px] w-0 transition-all duration-300 group-hover:w-full"
          style="background-color: {{ color }};">
    </span>
</a>

